<h4>
    Presentational Component* Data from parent component: {{ $ctrl.infoMessage.text }}
</h4>
<h4>
    Presentational Component* Data from parent component: {{ $ctrl.infoMessage.code }}
</h4>
<button ng-click="$ctrl.doSomething({message: $ctrl.infoMessage})">Process and send it back to parent</button>
<button ng-click="$ctrl.acceptTheMessage({$event: $ctrl.infoMessage})">Process and send it back to parent2</button>
<h4>here's the info title:</h4>
<h4>
    {{ $ctrl.infoTitle }}
</h4>
<h4>List of Info Producers:</h4>
<h5 ng-repeat="producer in $ctrl.infoProducers track by $index">
    {{producer}}
</h5>
<div>
    <span>Info title length: </span>
    <span>{{$ctrl.infoTitleLength}}</span>
</div>
<button ng-click="$ctrl.addNameToTitle()">Add Name To Title</button>
<button ng-click="$ctrl.addNumberToTitle()">Add Number To Title</button>
<button ng-click="$ctrl.replaceTheMessage()">Replace Info Message</button>
<button ng-click="$ctrl.addInfoProducer()">Add Info Producer</button>
<pre>
    {{$ctrl.info | json}}
</pre>
