<h3>
    Container (parent) Component: Info
</h3>
<quick-info
        info="$ctrl.info"
        info-title="$ctrl.infoTitle"
        info-title-length="$ctrl.infoTitleLength"
        info-message="$ctrl.infoMessage"
        info-producers="$ctrl.infoProducers"
        info-verifiers="$ctrl.infoVerifiers"
        is-loading="$ctrl.isLoading"
        add-name-to-title="$ctrl.addNameToTitle()"
        add-number-to-title="$ctrl.addNumberToTitle()"
        replace-the-message="$ctrl.replaceTheMessage($event)"
        add-info-producer="$ctrl.addInfoProducer($event)"
        accept-the-message="$ctrl.acceptTheMessage($event)"
></quick-info>
<!--this line says hey child component, you have to call the parent method like this: this.acceptTheMessage({$event: ...} or if you are in the template level: $ctrl.acceptTheMessage({$event: ...}, I mean you have to keep $event as the key of the object that you're sending if it was "abc" you had to send {abc: ...} as the argument. and if it was (abc, xyz) you had to send {abc: ..., xyx: ...}))-->